services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: study-backend
    ports:
      - "${BACKEND_PORT}:8080"
    environment:
      - MONGO_URI=${MONGO_URI}
      - STORAGE_TYPE=${STORAGE_TYPE}
      - KABBALAHMEDIA_URL=${KABBALAHMEDIA_URL}
      - KABBALAHMEDIA_TIMEOUT=${KABBALAHMEDIA_TIMEOUT}
      - APP_SCRIPT_PASSWORD=${APP_SCRIPT_PASSWORD}
    depends_on:
      - mongo

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    container_name: study-frontend
    ports:
      - "${FRONTEND_PORT}:3000"
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    depends_on:
      - backend

  mongo:
    image: mongo:latest
    container_name: study-mongo
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: